In [1]:
import os, numpy as np
import pandas as pd

os.environ["KERAS_BACKEND"] = "theano"

import keras 
from sklearn import datasets

from sklearn.model_selection import train_test_split

from keras.utils import np_utils


keras.backend.set_floatx('float64')

from keras.utils import np_utils


def set_reproducible():
    import tensorflow as tf
    import random as rn
    import os
    os.environ['PYTHONHASHSEED'] = '1960'
    rn.seed(1960)
    np.random.seed(1960)
    session_conf = tf.ConfigProto(intra_op_parallelism_threads=1, inter_op_parallelism_threads=1)

    from keras import backend as K
    tf.set_random_seed(1960)

    sess = tf.Session(graph=tf.get_default_graph(), config=session_conf)
    # K.set_session(sess)

set_reproducible()

Using Theano backend.

# Build a Keras Model

In [2]:

def create_model():
    from keras.models import Sequential
    from keras.layers.core import Dense, Activation, Dropout
    from keras.utils import np_utils

    model = Sequential()
    model.add(Dense(5, input_shape=(4,) , activation='relu'))
    model.add(Dropout(0.3))
    model.add(Dense(3))
    model.add(Activation('softmax'))
    model.compile(loss='categorical_crossentropy', optimizer='adam')
    return model

In [3]:
iris  = datasets.load_iris()
train_X, test_X, train_y, test_y = train_test_split(iris.data, iris.target, train_size=0.8, test_size=0.2, random_state=1960)

In [4]:

from keras.wrappers.scikit_learn import KerasClassifier

clf = KerasClassifier(build_fn=create_model, epochs=12, verbose=0)

print(train_X.shape , train_y.shape)
clf.fit(train_X, train_y, verbose=0)

(120, 4) (120,)

WARNING (theano.tensor.blas): We did not find a dynamic library in the library_dir of the library we use for blas. If you use ATLAS, make sure to compile it with dynamics library.
WARNING: Logging before flag parsing goes to stderr.
W0704 22:16:43.435081 140153694496576 blas.py:433] We did not find a dynamic library in the library_dir of the library we use for blas. If you use ATLAS, make sure to compile it with dynamics library.

In [5]:
print(clf.model.__dict__)

{'name': 'sequential_1', 'trainable': True, '_is_compiled': True, '_expects_training_arg': False, '_initial_weights': None, 'supports_masking': False, 'optimizer': <keras.optimizers.Adam object at 0x7f77995e0ac8>, '_updates': [], '_losses': [], '_per_input_losses': {}, '_per_input_updates': {}, '_layers': [<keras.engine.input_layer.InputLayer object at 0x7f77fa78a080>, <keras.layers.core.Dense object at 0x7f77fa78a908>, <keras.layers.core.Dropout object at 0x7f7799655438>, <keras.layers.core.Dense object at 0x7f779965df60>, <keras.layers.core.Activation object at 0x7f77fa78ac88>], '_outbound_nodes': [], '_inbound_nodes': [<keras.engine.base_layer.Node object at 0x7f77996685f8>], '_is_graph_network': True, '_uses_inputs_arg': True, 'outputs': [Softmax.0], 'inputs': [/dense_1_input], '_built': True, '_build_input_shape': None, '_compute_previous_mask': True, '_input_layers': [<keras.engine.input_layer.InputLayer object at 0x7f77fa78a080>], '_output_layers': [<keras.layers.core.Activation object at 0x7f77fa78ac88>], '_input_coordinates': [(<keras.engine.input_layer.InputLayer object at 0x7f77fa78a080>, 0, 0)], '_output_coordinates': [(<keras.layers.core.Activation object at 0x7f77fa78ac88>, 0, 0)], '_output_mask_cache': {'140153280048152_8537744': None}, '_output_tensor_cache': {}, '_output_shape_cache': {}, '_network_nodes': {'dropout_1_ib-0', 'activation_1_ib-0', 'dense_1_input_ib-0', 'dense_2_ib-0', 'dense_1_ib-0'}, '_nodes_by_depth': {0: [<keras.engine.base_layer.Node object at 0x7f77995e0c18>], 1: [<keras.engine.base_layer.Node object at 0x7f77995e0a90>], 2: [<keras.engine.base_layer.Node object at 0x7f779965df98>], 3: [<keras.engine.base_layer.Node object at 0x7f77996553c8>], 4: [<keras.engine.base_layer.Node object at 0x7f77a059d898>]}, '_layers_by_depth': {0: [<keras.layers.core.Activation object at 0x7f77fa78ac88>], 1: [<keras.layers.core.Dense object at 0x7f779965df60>], 2: [<keras.layers.core.Dropout object at 0x7f7799655438>], 3: [<keras.layers.core.Dense object at 0x7f77fa78a908>], 4: [<keras.engine.input_layer.InputLayer object at 0x7f77fa78a080>]}, 'input_names': ['dense_1_input'], 'output_names': ['activation_1'], '_feed_input_names': ['dense_1_input'], '_feed_inputs': [/dense_1_input], '_feed_input_shapes': [(None, 4)], 'loss': 'categorical_crossentropy', 'metrics': [], 'loss_weights': None, 'sample_weight_mode': None, 'weighted_metrics': None, 'loss_functions': [<function categorical_crossentropy at 0x7f77aebc0510>], '_feed_outputs': [Softmax.0], '_feed_output_names': ['activation_1'], '_feed_output_shapes': [(None, 3)], '_feed_loss_fns': [<function categorical_crossentropy at 0x7f77aebc0510>], 'targets': [/activation_1_target], '_feed_targets': [/activation_1_target], 'sample_weight_modes': [None], '_feed_sample_weight_modes': [None], 'metrics_names': ['loss'], 'metrics_tensors': [], 'metrics_updates': [], 'stateful_metric_names': [], 'stateful_metric_functions': [], 'total_loss': Elemwise{mul,no_inplace}.0, 'sample_weights': [/activation_1_sample_weights], '_feed_sample_weights': [/activation_1_sample_weights], '_function_kwargs': {}, 'train_function': <keras.backend.theano_backend.Function object at 0x7f7799554b38>, 'test_function': None, 'predict_function': None, '_collected_trainable_weights': [dense_1/kernel, dense_1/bias, dense_2/kernel, dense_2/bias], 'history': <keras.callbacks.History object at 0x7f77995e0eb8>, 'stop_training': False}

In [6]:
print(test_X.shape)
preds = clf.predict(test_X[0,:].reshape(1,4))
print(preds)

(30, 4)
[2]

# Generate SQL Code from the Model

In [7]:
import json, requests, base64, dill as pickle, sys



sys.setrecursionlimit(200000)
pickle.settings['recurse'] = False

def test_ws_sql_gen(pickle_data):
    WS_URL="https://sklearn2sql.herokuapp.com/model"
    b64_data = base64.b64encode(pickle_data).decode('utf-8')
    data={"Name":"model1", "PickleData":b64_data , "SQLDialect":"postgresql"}
    r = requests.post(WS_URL, json=data)
    # print(r.__dict__)
    content = r.json()
    # print(content)
    lSQL = content["model"]["SQLGenrationResult"][0]["SQL"]
    return lSQL;

In [8]:
pickle_data = pickle.dumps(clf)
lSQL = test_ws_sql_gen(pickle_data)

In [9]:
print(lSQL)

WITH keras_input AS
(SELECT "ADS"."KEY" AS "KEY", "ADS"."Feature_0" AS "Feature_0", "ADS"."Feature_1" AS "Feature_1", "ADS"."Feature_2" AS "Feature_2", "ADS"."Feature_3" AS "Feature_3"
FROM "INPUT_DATA" AS "ADS"),
keras_input_1 AS
(SELECT keras_input."KEY" AS "KEY", keras_input."Feature_0" AS "Feature_0", keras_input."Feature_1" AS "Feature_1", keras_input."Feature_2" AS "Feature_2", keras_input."Feature_3" AS "Feature_3"
FROM keras_input),
layer_dense_1 AS
(SELECT keras_input_1."KEY" AS "KEY", -0.0387618257795595 + 0.5681119286738643 * keras_input_1."Feature_0" + -0.24174715520925227 * keras_input_1."Feature_1" + -0.7698312687295721 * keras_input_1."Feature_2" + -0.41250696418645677 * keras_input_1."Feature_3" AS output_1, -0.033859804428020834 + -0.3486252182589338 * keras_input_1."Feature_0" + 0.5925973998496471 * keras_input_1."Feature_1" + -0.38658355527201277 * keras_input_1."Feature_2" + 0.5379057289261714 * keras_input_1."Feature_3" AS output_2, -0.04583993600484295 + 0.35173233530562825 * keras_input_1."Feature_0" + -0.46750215594229033 * keras_input_1."Feature_1" + 0.7086998755052669 * keras_input_1."Feature_2" + 0.695725074219217 * keras_input_1."Feature_3" AS output_3, 0.0 + -0.69212572267685 * keras_input_1."Feature_0" + 0.2068972100171138 * keras_input_1."Feature_1" + -0.6009683146895816 * keras_input_1."Feature_2" + -0.766999175266844 * keras_input_1."Feature_3" AS output_4, -0.04221320818072173 + -0.11680784859913848 * keras_input_1."Feature_0" + -0.8119742180522205 * keras_input_1."Feature_1" + 0.6775032359474568 * keras_input_1."Feature_2" + 0.46088183247539966 * keras_input_1."Feature_3" AS output_5
FROM keras_input_1),
activation_relu AS
(SELECT layer_dense_1."KEY" AS "KEY", greatest(layer_dense_1.output_1, 0) AS output_1, greatest(layer_dense_1.output_2, 0) AS output_2, greatest(layer_dense_1.output_3, 0) AS output_3, greatest(layer_dense_1.output_4, 0) AS output_4, greatest(layer_dense_1.output_5, 0) AS output_5
FROM layer_dense_1),
activation_relu_1 AS
(SELECT activation_relu."KEY" AS "KEY", activation_relu.output_1 AS output_1, activation_relu.output_2 AS output_2, activation_relu.output_3 AS output_3, activation_relu.output_4 AS output_4, activation_relu.output_5 AS output_5
FROM activation_relu),
activation_relu_1_1 AS
(SELECT activation_relu_1."KEY" AS "KEY", activation_relu_1.output_1 AS output_1, activation_relu_1.output_2 AS output_2, activation_relu_1.output_3 AS output_3, activation_relu_1.output_4 AS output_4, activation_relu_1.output_5 AS output_5
FROM activation_relu_1),
layer_dense_2 AS
(SELECT activation_relu_1_1."KEY" AS "KEY", 0.044636361580640584 + -0.6150454965496035 * activation_relu_1_1.output_1 + -0.219358469290763 * activation_relu_1_1.output_2 + -0.35667739449597646 * activation_relu_1_1.output_3 + -0.3016071088459046 * activation_relu_1_1.output_4 + -0.6004274914754746 * activation_relu_1_1.output_5 AS output_1, 0.04147978020471535 + -0.24108119134669778 * activation_relu_1_1.output_1 + 0.20182630966889367 * activation_relu_1_1.output_2 + -0.14400373044383913 * activation_relu_1_1.output_3 + 0.6582838443061727 * activation_relu_1_1.output_4 + 0.04340727350878923 * activation_relu_1_1.output_5 AS output_2, -0.046622160378755176 + -0.8056357119783388 * activation_relu_1_1.output_1 + -0.23971580715321175 * activation_relu_1_1.output_2 + 0.2528109070139343 * activation_relu_1_1.output_3 + 0.28149933070607114 * activation_relu_1_1.output_4 + 0.639496152834684 * activation_relu_1_1.output_5 AS output_3
FROM activation_relu_1_1),
layer_dense_2_1 AS
(SELECT layer_dense_2."KEY" AS "KEY", layer_dense_2.output_1 AS output_1, layer_dense_2.output_2 AS output_2, layer_dense_2.output_3 AS output_3
FROM layer_dense_2),
score_soft_max_step1 AS
(SELECT layer_dense_2_1."KEY" AS "KEY", layer_dense_2_1.output_1 AS "Score_0", exp(least(100.0, greatest(-100.0, layer_dense_2_1.output_1))) AS "exp_Score_0", layer_dense_2_1.output_2 AS "Score_1", exp(least(100.0, greatest(-100.0, layer_dense_2_1.output_2))) AS "exp_Score_1", layer_dense_2_1.output_3 AS "Score_2", exp(least(100.0, greatest(-100.0, layer_dense_2_1.output_3))) AS "exp_Score_2"
FROM layer_dense_2_1),
score_class_union_soft AS
(SELECT soft_scu."KEY" AS "KEY", soft_scu.class AS class, soft_scu."exp_Score" AS "exp_Score"
FROM (SELECT score_soft_max_step1."KEY" AS "KEY", 0 AS class, score_soft_max_step1."exp_Score_0" AS "exp_Score"
FROM score_soft_max_step1 UNION ALL SELECT score_soft_max_step1."KEY" AS "KEY", 1 AS class, score_soft_max_step1."exp_Score_1" AS "exp_Score"
FROM score_soft_max_step1 UNION ALL SELECT score_soft_max_step1."KEY" AS "KEY", 2 AS class, score_soft_max_step1."exp_Score_2" AS "exp_Score"
FROM score_soft_max_step1) AS soft_scu),
score_soft_max AS
(SELECT score_soft_max_step1."KEY" AS "KEY", score_soft_max_step1."Score_0" AS "Score_0", score_soft_max_step1."exp_Score_0" AS "exp_Score_0", score_soft_max_step1."Score_1" AS "Score_1", score_soft_max_step1."exp_Score_1" AS "exp_Score_1", score_soft_max_step1."Score_2" AS "Score_2", score_soft_max_step1."exp_Score_2" AS "exp_Score_2", sum_exp_t."KEY_sum" AS "KEY_sum", sum_exp_t."sum_ExpScore" AS "sum_ExpScore"
FROM score_soft_max_step1 LEFT OUTER JOIN (SELECT score_class_union_soft."KEY" AS "KEY_sum", sum(score_class_union_soft."exp_Score") AS "sum_ExpScore"
FROM score_class_union_soft GROUP BY score_class_union_soft."KEY") AS sum_exp_t ON score_soft_max_step1."KEY" = sum_exp_t."KEY_sum"),
layer_softmax AS
(SELECT score_soft_max."KEY" AS "KEY", score_soft_max."exp_Score_0" / score_soft_max."sum_ExpScore" AS output_1, score_soft_max."exp_Score_1" / score_soft_max."sum_ExpScore" AS output_2, score_soft_max."exp_Score_2" / score_soft_max."sum_ExpScore" AS output_3
FROM score_soft_max),
orig_cte AS
(SELECT layer_softmax."KEY" AS "KEY", CAST(NULL AS FLOAT) AS "Score_0", CAST(NULL AS FLOAT) AS "Score_1", CAST(NULL AS FLOAT) AS "Score_2", layer_softmax.output_1 AS "Proba_0", layer_softmax.output_2 AS "Proba_1", layer_softmax.output_3 AS "Proba_2", CAST(NULL AS FLOAT) AS "LogProba_0", CAST(NULL AS FLOAT) AS "LogProba_1", CAST(NULL AS FLOAT) AS "LogProba_2", CAST(NULL AS BIGINT) AS "Decision", CAST(NULL AS FLOAT) AS "DecisionProba"
FROM layer_softmax),
score_class_union AS
(SELECT scu."KEY_u" AS "KEY_u", scu.class AS class, scu."LogProba" AS "LogProba", scu."Proba" AS "Proba", scu."Score" AS "Score"
FROM (SELECT orig_cte."KEY" AS "KEY_u", 0 AS class, orig_cte."LogProba_0" AS "LogProba", orig_cte."Proba_0" AS "Proba", orig_cte."Score_0" AS "Score"
FROM orig_cte UNION ALL SELECT orig_cte."KEY" AS "KEY_u", 1 AS class, orig_cte."LogProba_1" AS "LogProba", orig_cte."Proba_1" AS "Proba", orig_cte."Score_1" AS "Score"
FROM orig_cte UNION ALL SELECT orig_cte."KEY" AS "KEY_u", 2 AS class, orig_cte."LogProba_2" AS "LogProba", orig_cte."Proba_2" AS "Proba", orig_cte."Score_2" AS "Score"
FROM orig_cte) AS scu),
score_max AS
(SELECT orig_cte."KEY" AS "KEY", orig_cte."Score_0" AS "Score_0", orig_cte."Score_1" AS "Score_1", orig_cte."Score_2" AS "Score_2", orig_cte."Proba_0" AS "Proba_0", orig_cte."Proba_1" AS "Proba_1", orig_cte."Proba_2" AS "Proba_2", orig_cte."LogProba_0" AS "LogProba_0", orig_cte."LogProba_1" AS "LogProba_1", orig_cte."LogProba_2" AS "LogProba_2", orig_cte."Decision" AS "Decision", orig_cte."DecisionProba" AS "DecisionProba", max_select."KEY_m" AS "KEY_m", max_select."max_Proba" AS "max_Proba"
FROM orig_cte LEFT OUTER JOIN (SELECT score_class_union."KEY_u" AS "KEY_m", max(score_class_union."Proba") AS "max_Proba"
FROM score_class_union GROUP BY score_class_union."KEY_u") AS max_select ON orig_cte."KEY" = max_select."KEY_m"),
union_with_max AS
(SELECT score_class_union."KEY_u" AS "KEY_u", score_class_union.class AS class, score_class_union."LogProba" AS "LogProba", score_class_union."Proba" AS "Proba", score_class_union."Score" AS "Score", score_max."KEY" AS "KEY", score_max."Score_0" AS "Score_0", score_max."Score_1" AS "Score_1", score_max."Score_2" AS "Score_2", score_max."Proba_0" AS "Proba_0", score_max."Proba_1" AS "Proba_1", score_max."Proba_2" AS "Proba_2", score_max."LogProba_0" AS "LogProba_0", score_max."LogProba_1" AS "LogProba_1", score_max."LogProba_2" AS "LogProba_2", score_max."Decision" AS "Decision", score_max."DecisionProba" AS "DecisionProba", score_max."KEY_m" AS "KEY_m", score_max."max_Proba" AS "max_Proba"
FROM score_class_union LEFT OUTER JOIN score_max ON score_class_union."KEY_u" = score_max."KEY"),
arg_max_cte AS
(SELECT score_max."KEY" AS "KEY", score_max."Score_0" AS "Score_0", score_max."Score_1" AS "Score_1", score_max."Score_2" AS "Score_2", score_max."Proba_0" AS "Proba_0", score_max."Proba_1" AS "Proba_1", score_max."Proba_2" AS "Proba_2", score_max."LogProba_0" AS "LogProba_0", score_max."LogProba_1" AS "LogProba_1", score_max."LogProba_2" AS "LogProba_2", score_max."Decision" AS "Decision", score_max."DecisionProba" AS "DecisionProba", score_max."KEY_m" AS "KEY_m", score_max."max_Proba" AS "max_Proba", "arg_max_t_Proba"."KEY_Proba" AS "KEY_Proba", "arg_max_t_Proba"."arg_max_Proba" AS "arg_max_Proba"
FROM score_max LEFT OUTER JOIN (SELECT union_with_max."KEY" AS "KEY_Proba", max(union_with_max.class) AS "arg_max_Proba"
FROM union_with_max
WHERE union_with_max."max_Proba" <= union_with_max."Proba" GROUP BY union_with_max."KEY") AS "arg_max_t_Proba" ON score_max."KEY" = "arg_max_t_Proba"."KEY_Proba")
 SELECT arg_max_cte."KEY" AS "KEY", arg_max_cte."Score_0" AS "Score_0", arg_max_cte."Score_1" AS "Score_1", arg_max_cte."Score_2" AS "Score_2", arg_max_cte."Proba_0" AS "Proba_0", arg_max_cte."Proba_1" AS "Proba_1", arg_max_cte."Proba_2" AS "Proba_2", CASE WHEN (arg_max_cte."Proba_0" IS NULL OR arg_max_cte."Proba_0" > 0.0) THEN ln(arg_max_cte."Proba_0") ELSE -1.79769313486231e+308 END AS "LogProba_0", CASE WHEN (arg_max_cte."Proba_1" IS NULL OR arg_max_cte."Proba_1" > 0.0) THEN ln(arg_max_cte."Proba_1") ELSE -1.79769313486231e+308 END AS "LogProba_1", CASE WHEN (arg_max_cte."Proba_2" IS NULL OR arg_max_cte."Proba_2" > 0.0) THEN ln(arg_max_cte."Proba_2") ELSE -1.79769313486231e+308 END AS "LogProba_2", arg_max_cte."arg_max_Proba" AS "Decision", arg_max_cte."max_Proba" AS "DecisionProba"
FROM arg_max_cte

# Execute the SQL Code

In [10]:
# save the dataset in a database table


import sqlalchemy as sa

#engine = sa.create_engine('sqlite://' , echo=False)
engine = sa.create_engine("postgresql://db:db@localhost/db?port=5432", echo=False)
conn = engine.connect()

lTable = pd.DataFrame(iris.data);
lTable.columns = ['Feature_0', 'Feature_1', 'Feature_2', 'Feature_3']
lTable['TGT'] = iris.target
lTable['KEY'] = range(iris.data.shape[0])
lTable.to_sql("INPUT_DATA" , conn,   if_exists='replace', index=False)

/home/antoine/.local/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [11]:
sql_output = pd.read_sql(lSQL , conn);
sql_output = sql_output.sort_values(by='KEY').reset_index(drop=True)
conn.close()

In [12]:
sql_output.sample(12, random_state=1960)

,KEY,Score_0,Score_1,Score_2,Proba_0,Proba_1,Proba_2,LogProba_0,LogProba_1,LogProba_2,Decision,DecisionProba
114,114,None,None,None,0.003948,0.038439,0.957613,-5.534672,-3.258680,-0.043311,2,0.957613
74,74,None,None,None,0.031863,0.111751,0.856385,-3.446308,-2.191478,-0.155035,2,0.856385
9,9,None,None,None,0.217765,0.391007,0.391228,-1.524338,-0.939031,-0.938465,2,0.391228
88,88,None,None,None,0.047047,0.137924,0.815029,-3.056599,-1.981053,-0.204532,2,0.815029
25,25,None,None,None,0.202904,0.376683,0.420413,-1.595020,-0.976351,-0.866519,2,0.420413
5,5,None,None,None,0.209545,0.362378,0.428077,-1.562816,-1.015068,-0.848453,2,0.428077
48,48,None,None,None,0.222019,0.398795,0.379186,-1.504990,-0.919308,-0.969729,1,0.398795
117,117,None,None,None,0.002039,0.024921,0.973040,-6.195197,-3.692033,-0.027331,2,0.973040
83,83,None,None,None,0.007436,0.053985,0.938580,-4.901434,-2.919057,-0.063388,2,0.938580
105,105,None,None,None,0.000925,0.016779,0.982295,-6.985405,-4.087600,-0.017863,2,0.982295
27,27,None,None,None,0.218081,0.395357,0.386562,-1.522888,-0.927966,-0.950464,1,0.395357
64,64,None,None,None,0.071685,0.168157,0.760158,-2.635471,-1.782857,-0.274229,2,0.760158

# Keras Prediction

In [13]:
keras_output = pd.DataFrame()
keras_output_key = pd.DataFrame(list(range(iris.data.shape[0])), columns=['KEY']);
keras_output_score = pd.DataFrame(columns=['Score_0', 'Score_1', 'Score_2']);
keras_output_proba = pd.DataFrame(clf.predict_proba(iris.data), columns=['Proba_0', 'Proba_1', 'Proba_2'])
keras_output = pd.concat([keras_output_key, keras_output_score, keras_output_proba] , axis=1)
for class_label in [0, 1, 2]:
    keras_output['LogProba_' + str(class_label)] = np.log(keras_output_proba['Proba_' + str(class_label)])
keras_output['Decision'] = clf.predict(iris.data)
keras_output.sample(12, random_state=1960)

,KEY,Score_0,Score_1,Score_2,Proba_0,Proba_1,Proba_2,LogProba_0,LogProba_1,LogProba_2,Decision
114,114,NaN,NaN,NaN,0.003948,0.038439,0.957613,-5.534672,-3.258680,-0.043311,2
74,74,NaN,NaN,NaN,0.031863,0.111751,0.856385,-3.446308,-2.191478,-0.155035,2
9,9,NaN,NaN,NaN,0.217765,0.391007,0.391228,-1.524338,-0.939031,-0.938465,2
88,88,NaN,NaN,NaN,0.047047,0.137924,0.815029,-3.056599,-1.981053,-0.204532,2
25,25,NaN,NaN,NaN,0.202904,0.376683,0.420413,-1.595020,-0.976351,-0.866519,2
5,5,NaN,NaN,NaN,0.209545,0.362378,0.428077,-1.562816,-1.015068,-0.848453,2
48,48,NaN,NaN,NaN,0.222019,0.398795,0.379186,-1.504990,-0.919308,-0.969729,1
117,117,NaN,NaN,NaN,0.002039,0.024921,0.973040,-6.195197,-3.692033,-0.027331,2
83,83,NaN,NaN,NaN,0.007436,0.053985,0.938580,-4.901434,-2.919057,-0.063388,2
105,105,NaN,NaN,NaN,0.000925,0.016779,0.982295,-6.985405,-4.087600,-0.017863,2
27,27,NaN,NaN,NaN,0.218081,0.395357,0.386562,-1.522888,-0.927966,-0.950464,1
64,64,NaN,NaN,NaN,0.071685,0.168157,0.760158,-2.635471,-1.782857,-0.274229,2

# Comparing the SQL and Keras Predictions

In [14]:
sql_keras_join = keras_output.join(sql_output , how='left', on='KEY', lsuffix='_keras', rsuffix='_sql')

In [15]:
sql_keras_join.head(12)

,KEY_keras,Score_0_keras,Score_1_keras,Score_2_keras,Proba_0_keras,Proba_1_keras,Proba_2_keras,LogProba_0_keras,LogProba_1_keras,LogProba_2_keras,...,Score_1_sql,Score_2_sql,Proba_0_sql,Proba_1_sql,Proba_2_sql,LogProba_0_sql,LogProba_1_sql,LogProba_2_sql,Decision_sql,DecisionProba
0,0,NaN,NaN,NaN,0.225168,0.402124,0.372708,-1.490908,-0.910995,-0.986961,...,None,None,0.225168,0.402124,0.372708,-1.490908,-0.910995,-0.986961,1,0.402124
1,1,NaN,NaN,NaN,0.213670,0.396157,0.390173,-1.543322,-0.925946,-0.941164,...,None,None,0.213670,0.396157,0.390173,-1.543322,-0.925946,-0.941164,1,0.396157
2,2,NaN,NaN,NaN,0.231637,0.395776,0.372587,-1.462583,-0.926907,-0.987284,...,None,None,0.231637,0.395776,0.372587,-1.462583,-0.926907,-0.987284,1,0.395776
3,3,NaN,NaN,NaN,0.223402,0.367775,0.408823,-1.498782,-1.000283,-0.894474,...,None,None,0.223402,0.367775,0.408823,-1.498782,-1.000283,-0.894474,2,0.408823
4,4,NaN,NaN,NaN,0.232461,0.395807,0.371732,-1.459033,-0.926828,-0.989582,...,None,None,0.232461,0.395807,0.371732,-1.459033,-0.926828,-0.989582,1,0.395807
5,5,NaN,NaN,NaN,0.209545,0.362378,0.428077,-1.562816,-1.015068,-0.848453,...,None,None,0.209545,0.362378,0.428077,-1.562816,-1.015068,-0.848453,2,0.428077
6,6,NaN,NaN,NaN,0.234404,0.369327,0.396269,-1.450710,-0.996073,-0.925661,...,None,None,0.234404,0.369327,0.396269,-1.450710,-0.996073,-0.925661,2,0.396269
7,7,NaN,NaN,NaN,0.221153,0.385795,0.393052,-1.508902,-0.952449,-0.933813,...,None,None,0.221153,0.385795,0.393052,-1.508902,-0.952449,-0.933813,2,0.393052
8,8,NaN,NaN,NaN,0.226739,0.371122,0.402138,-1.483954,-0.991223,-0.910960,...,None,None,0.226739,0.371122,0.402138,-1.483954,-0.991223,-0.910960,2,0.402138
9,9,NaN,NaN,NaN,0.217765,0.391007,0.391228,-1.524338,-0.939031,-0.938465,...,None,None,0.217765,0.391007,0.391228,-1.524338,-0.939031,-0.938465,2,0.391228
10,10,NaN,NaN,NaN,0.218595,0.404086,0.377319,-1.520535,-0.906127,-0.974664,...,None,None,0.218595,0.404086,0.377319,-1.520535,-0.906127,-0.974664,1,0.404086
11,11,NaN,NaN,NaN,0.223800,0.363595,0.412605,-1.497001,-1.011716,-0.885265,...,None,None,0.223800,0.363595,0.412605,-1.497001,-1.011716,-0.885265,2,0.412605

In [16]:
condition = (sql_keras_join.Decision_sql != sql_keras_join.Decision_keras)
sql_keras_join[condition]

Empty DataFrame
Columns: [KEY_keras, Score_0_keras, Score_1_keras, Score_2_keras, Proba_0_keras, Proba_1_keras, Proba_2_keras, LogProba_0_keras, LogProba_1_keras, LogProba_2_keras, Decision_keras, KEY_sql, Score_0_sql, Score_1_sql, Score_2_sql, Proba_0_sql, Proba_1_sql, Proba_2_sql, LogProba_0_sql, LogProba_1_sql, LogProba_2_sql, Decision_sql, DecisionProba]
Index: []

[0 rows x 23 columns]