In [1]:
import os, numpy as np
import pandas as pd

os.environ["KERAS_BACKEND"] = "tensorflow"

import keras 
from sklearn import datasets

from sklearn.model_selection import train_test_split

from keras.utils import np_utils


keras.backend.set_floatx('float64')

from keras.utils import np_utils


def set_reproducible():
    import tensorflow as tf
    import random as rn
    import os
    os.environ['PYTHONHASHSEED'] = '1960'
    rn.seed(1960)
    np.random.seed(1960)
    session_conf = tf.ConfigProto(intra_op_parallelism_threads=1, inter_op_parallelism_threads=1)

    from keras import backend as K
    tf.set_random_seed(1960)

    sess = tf.Session(graph=tf.get_default_graph(), config=session_conf)
    # K.set_session(sess)

set_reproducible()

Using TensorFlow backend.

# Build a Keras Model

In [2]:

def create_model():
    from keras.models import Sequential
    from keras.layers.core import Dense, Activation, Dropout
    from keras.utils import np_utils

    model = Sequential()
    model.add(Dense(5, input_shape=(4,) , activation='relu'))
    model.add(Dropout(0.3))
    model.add(Dense(3))
    model.add(Activation('softmax'))
    model.compile(loss='categorical_crossentropy', optimizer='adam')
    return model

In [3]:
iris  = datasets.load_iris()
train_X, test_X, train_y, test_y = train_test_split(iris.data, iris.target, train_size=0.8, test_size=0.2, random_state=1960)

In [4]:

from keras.wrappers.scikit_learn import KerasClassifier

clf = KerasClassifier(build_fn=create_model, epochs=12, verbose=0)

print(train_X.shape , train_y.shape)
clf.fit(train_X, train_y, verbose=0)

WARNING: Logging before flag parsing goes to stderr.
W0704 20:50:37.434734 139854976644928 deprecation.py:506] From /home/antoine/.local/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

(120, 4) (120,)

In [5]:
print(clf.model.__dict__)

{'name': 'sequential_1', 'trainable': True, '_is_compiled': True, '_expects_training_arg': False, '_initial_weights': None, 'supports_masking': False, 'optimizer': <keras.optimizers.Adam object at 0x7f320fbaec50>, '_updates': [], '_losses': [], '_per_input_losses': {}, '_per_input_updates': {}, '_layers': [<keras.engine.input_layer.InputLayer object at 0x7f326d803cf8>, <keras.layers.core.Dense object at 0x7f326d803860>, <keras.layers.core.Dropout object at 0x7f326d803518>, <keras.layers.core.Dense object at 0x7f326d7dee80>, <keras.layers.core.Activation object at 0x7f320fbaee80>], '_outbound_nodes': [], '_inbound_nodes': [<keras.engine.base_layer.Node object at 0x7f326d803940>], '_is_graph_network': True, '_uses_inputs_arg': True, 'outputs': [<tf.Tensor 'activation_1/Softmax:0' shape=(?, 3) dtype=float64>], 'inputs': [<tf.Tensor 'dense_1_input:0' shape=(?, 4) dtype=float64>], '_built': True, '_build_input_shape': None, '_compute_previous_mask': True, '_input_layers': [<keras.engine.input_layer.InputLayer object at 0x7f326d803cf8>], '_output_layers': [<keras.layers.core.Activation object at 0x7f320fbaee80>], '_input_coordinates': [(<keras.engine.input_layer.InputLayer object at 0x7f326d803cf8>, 0, 0)], '_output_coordinates': [(<keras.layers.core.Activation object at 0x7f320fbaee80>, 0, 0)], '_output_mask_cache': {'139854562060496_8537744': None}, '_output_tensor_cache': {}, '_output_shape_cache': {}, '_network_nodes': {'dense_1_ib-0', 'dense_1_input_ib-0', 'dropout_1_ib-0', 'dense_2_ib-0', 'activation_1_ib-0'}, '_nodes_by_depth': {0: [<keras.engine.base_layer.Node object at 0x7f320fb304e0>], 1: [<keras.engine.base_layer.Node object at 0x7f320fb862e8>], 2: [<keras.engine.base_layer.Node object at 0x7f3214291080>], 3: [<keras.engine.base_layer.Node object at 0x7f32142b8a58>], 4: [<keras.engine.base_layer.Node object at 0x7f326d8a9e10>]}, '_layers_by_depth': {0: [<keras.layers.core.Activation object at 0x7f320fbaee80>], 1: [<keras.layers.core.Dense object at 0x7f326d7dee80>], 2: [<keras.layers.core.Dropout object at 0x7f326d803518>], 3: [<keras.layers.core.Dense object at 0x7f326d803860>], 4: [<keras.engine.input_layer.InputLayer object at 0x7f326d803cf8>]}, 'input_names': ['dense_1_input'], 'output_names': ['activation_1'], '_feed_input_names': ['dense_1_input'], '_feed_inputs': [<tf.Tensor 'dense_1_input:0' shape=(?, 4) dtype=float64>], '_feed_input_shapes': [(None, 4)], 'loss': 'categorical_crossentropy', 'metrics': [], 'loss_weights': None, 'sample_weight_mode': None, 'weighted_metrics': None, 'loss_functions': [<function categorical_crossentropy at 0x7f3219535e18>], '_feed_outputs': [<tf.Tensor 'activation_1/Softmax:0' shape=(?, 3) dtype=float64>], '_feed_output_names': ['activation_1'], '_feed_output_shapes': [(None, 3)], '_feed_loss_fns': [<function categorical_crossentropy at 0x7f3219535e18>], 'targets': [<tf.Tensor 'activation_1_target:0' shape=(?, ?) dtype=float64>], '_feed_targets': [<tf.Tensor 'activation_1_target:0' shape=(?, ?) dtype=float64>], 'sample_weight_modes': [None], '_feed_sample_weight_modes': [None], 'metrics_names': ['loss'], 'metrics_tensors': [], 'metrics_updates': [], 'stateful_metric_names': [], 'stateful_metric_functions': [], 'total_loss': <tf.Tensor 'loss/mul:0' shape=() dtype=float64>, 'sample_weights': [<tf.Tensor 'activation_1_sample_weights:0' shape=(?,) dtype=float64>], '_feed_sample_weights': [<tf.Tensor 'activation_1_sample_weights:0' shape=(?,) dtype=float64>], '_function_kwargs': {}, 'train_function': <keras.backend.tensorflow_backend.Function object at 0x7f320fb30208>, 'test_function': None, 'predict_function': None, '_collected_trainable_weights': [<tf.Variable 'dense_1/kernel:0' shape=(4, 5) dtype=float64_ref>, <tf.Variable 'dense_1/bias:0' shape=(5,) dtype=float64_ref>, <tf.Variable 'dense_2/kernel:0' shape=(5, 3) dtype=float64_ref>, <tf.Variable 'dense_2/bias:0' shape=(3,) dtype=float64_ref>], 'history': <keras.callbacks.History object at 0x7f320fb86c50>, 'stop_training': False}

In [6]:
print(test_X.shape)
preds = clf.predict(test_X[0,:].reshape(1,4))
print(preds)

(30, 4)
[2]

# Generate SQL Code from the Model

In [7]:
import json, requests, base64, dill as pickle, sys



sys.setrecursionlimit(200000)
pickle.settings['recurse'] = False

def test_ws_sql_gen(pickle_data):
    WS_URL="https://sklearn2sql.herokuapp.com/model"
    b64_data = base64.b64encode(pickle_data).decode('utf-8')
    data={"Name":"model1", "PickleData":b64_data , "SQLDialect":"postgresql"}
    r = requests.post(WS_URL, json=data)
    # print(r.__dict__)
    content = r.json()
    # print(content)
    lSQL = content["model"]["SQLGenrationResult"][0]["SQL"]
    return lSQL;

In [8]:
# commented .. see above
pickle_data = pickle.dumps(clf)
lSQL = test_ws_sql_gen(pickle_data)
# print(lSQL[0:2000])

In [9]:
print(lSQL)

WITH keras_input AS
(SELECT "ADS"."KEY" AS "KEY", "ADS"."Feature_0" AS "Feature_0", "ADS"."Feature_1" AS "Feature_1", "ADS"."Feature_2" AS "Feature_2", "ADS"."Feature_3" AS "Feature_3"
FROM "INPUT_DATA" AS "ADS"),
keras_input_1 AS
(SELECT keras_input."KEY" AS "KEY", keras_input."Feature_0" AS "Feature_0", keras_input."Feature_1" AS "Feature_1", keras_input."Feature_2" AS "Feature_2", keras_input."Feature_3" AS "Feature_3"
FROM keras_input),
layer_dense_1 AS
(SELECT keras_input_1."KEY" AS "KEY", 0.03819891008326152 + -0.10551810947064454 * keras_input_1."Feature_0" + 0.6869137954445582 * keras_input_1."Feature_1" + 0.07362650595219875 * keras_input_1."Feature_2" + -0.12291325345623008 * keras_input_1."Feature_3" AS output_1, -0.004487723888804159 + 0.4496606551243778 * keras_input_1."Feature_0" + -0.0020958056354704584 * keras_input_1."Feature_1" + -0.1450205413490414 * keras_input_1."Feature_2" + 0.8403572775801047 * keras_input_1."Feature_3" AS output_2, -0.04482508398542805 + 0.17791137734562554 * keras_input_1."Feature_0" + -0.3350349568524566 * keras_input_1."Feature_1" + 0.031023602127139147 * keras_input_1."Feature_2" + -0.0075448812943813455 * keras_input_1."Feature_3" AS output_3, -0.043295752210237286 + 0.7013113232354665 * keras_input_1."Feature_0" + 0.5786289501536911 * keras_input_1."Feature_1" + -0.41829834050713494 * keras_input_1."Feature_2" + 0.33755178759913435 * keras_input_1."Feature_3" AS output_4, 0.0 + -0.2435283836134725 * keras_input_1."Feature_0" + 0.4004721524270922 * keras_input_1."Feature_1" + -0.7896110374245525 * keras_input_1."Feature_2" + -0.510125423105696 * keras_input_1."Feature_3" AS output_5
FROM keras_input_1),
activation_relu AS
(SELECT layer_dense_1."KEY" AS "KEY", greatest(layer_dense_1.output_1, 0) AS output_1, greatest(layer_dense_1.output_2, 0) AS output_2, greatest(layer_dense_1.output_3, 0) AS output_3, greatest(layer_dense_1.output_4, 0) AS output_4, greatest(layer_dense_1.output_5, 0) AS output_5
FROM layer_dense_1),
activation_relu_1 AS
(SELECT activation_relu."KEY" AS "KEY", activation_relu.output_1 AS output_1, activation_relu.output_2 AS output_2, activation_relu.output_3 AS output_3, activation_relu.output_4 AS output_4, activation_relu.output_5 AS output_5
FROM activation_relu),
activation_relu_1_1 AS
(SELECT activation_relu_1."KEY" AS "KEY", activation_relu_1.output_1 AS output_1, activation_relu_1.output_2 AS output_2, activation_relu_1.output_3 AS output_3, activation_relu_1.output_4 AS output_4, activation_relu_1.output_5 AS output_5
FROM activation_relu_1),
layer_dense_2 AS
(SELECT activation_relu_1_1."KEY" AS "KEY", -0.041216616451408616 + -0.5980049480389407 * activation_relu_1_1.output_1 + -0.59100760371538 * activation_relu_1_1.output_2 + 0.826456023290706 * activation_relu_1_1.output_3 + -0.03591904590537698 * activation_relu_1_1.output_4 + 0.015375282954432579 * activation_relu_1_1.output_5 AS output_1, 0.04615598935740392 + -0.1671102870961577 * activation_relu_1_1.output_1 + -0.4511794395202959 * activation_relu_1_1.output_2 + -0.2568160644683703 * activation_relu_1_1.output_3 + -0.7990628521186195 * activation_relu_1_1.output_4 + 0.39905935927156855 * activation_relu_1_1.output_5 AS output_2, 0.011542176192992937 + -0.15418871317983052 * activation_relu_1_1.output_1 + 0.047406792241336565 * activation_relu_1_1.output_2 + -0.3284395248803203 * activation_relu_1_1.output_3 + -0.5709729308219924 * activation_relu_1_1.output_4 + -0.10397533411660875 * activation_relu_1_1.output_5 AS output_3
FROM activation_relu_1_1),
layer_dense_2_1 AS
(SELECT layer_dense_2."KEY" AS "KEY", layer_dense_2.output_1 AS output_1, layer_dense_2.output_2 AS output_2, layer_dense_2.output_3 AS output_3
FROM layer_dense_2),
score_soft_max_step1 AS
(SELECT layer_dense_2_1."KEY" AS "KEY", layer_dense_2_1.output_1 AS "Score_0", exp(least(100.0, greatest(-100.0, layer_dense_2_1.output_1))) AS "exp_Score_0", layer_dense_2_1.output_2 AS "Score_1", exp(least(100.0, greatest(-100.0, layer_dense_2_1.output_2))) AS "exp_Score_1", layer_dense_2_1.output_3 AS "Score_2", exp(least(100.0, greatest(-100.0, layer_dense_2_1.output_3))) AS "exp_Score_2"
FROM layer_dense_2_1),
score_class_union_soft AS
(SELECT soft_scu."KEY" AS "KEY", soft_scu.class AS class, soft_scu."exp_Score" AS "exp_Score"
FROM (SELECT score_soft_max_step1."KEY" AS "KEY", 0 AS class, score_soft_max_step1."exp_Score_0" AS "exp_Score"
FROM score_soft_max_step1 UNION ALL SELECT score_soft_max_step1."KEY" AS "KEY", 1 AS class, score_soft_max_step1."exp_Score_1" AS "exp_Score"
FROM score_soft_max_step1 UNION ALL SELECT score_soft_max_step1."KEY" AS "KEY", 2 AS class, score_soft_max_step1."exp_Score_2" AS "exp_Score"
FROM score_soft_max_step1) AS soft_scu),
score_soft_max AS
(SELECT score_soft_max_step1."KEY" AS "KEY", score_soft_max_step1."Score_0" AS "Score_0", score_soft_max_step1."exp_Score_0" AS "exp_Score_0", score_soft_max_step1."Score_1" AS "Score_1", score_soft_max_step1."exp_Score_1" AS "exp_Score_1", score_soft_max_step1."Score_2" AS "Score_2", score_soft_max_step1."exp_Score_2" AS "exp_Score_2", sum_exp_t."KEY_sum" AS "KEY_sum", sum_exp_t."sum_ExpScore" AS "sum_ExpScore"
FROM score_soft_max_step1 LEFT OUTER JOIN (SELECT score_class_union_soft."KEY" AS "KEY_sum", sum(score_class_union_soft."exp_Score") AS "sum_ExpScore"
FROM score_class_union_soft GROUP BY score_class_union_soft."KEY") AS sum_exp_t ON score_soft_max_step1."KEY" = sum_exp_t."KEY_sum"),
layer_softmax AS
(SELECT score_soft_max."KEY" AS "KEY", score_soft_max."exp_Score_0" / score_soft_max."sum_ExpScore" AS output_1, score_soft_max."exp_Score_1" / score_soft_max."sum_ExpScore" AS output_2, score_soft_max."exp_Score_2" / score_soft_max."sum_ExpScore" AS output_3
FROM score_soft_max),
orig_cte AS
(SELECT layer_softmax."KEY" AS "KEY", CAST(NULL AS FLOAT) AS "Score_0", CAST(NULL AS FLOAT) AS "Score_1", CAST(NULL AS FLOAT) AS "Score_2", layer_softmax.output_1 AS "Proba_0", layer_softmax.output_2 AS "Proba_1", layer_softmax.output_3 AS "Proba_2", CAST(NULL AS FLOAT) AS "LogProba_0", CAST(NULL AS FLOAT) AS "LogProba_1", CAST(NULL AS FLOAT) AS "LogProba_2", CAST(NULL AS BIGINT) AS "Decision", CAST(NULL AS FLOAT) AS "DecisionProba"
FROM layer_softmax),
score_class_union AS
(SELECT scu."KEY_u" AS "KEY_u", scu.class AS class, scu."LogProba" AS "LogProba", scu."Proba" AS "Proba", scu."Score" AS "Score"
FROM (SELECT orig_cte."KEY" AS "KEY_u", 0 AS class, orig_cte."LogProba_0" AS "LogProba", orig_cte."Proba_0" AS "Proba", orig_cte."Score_0" AS "Score"
FROM orig_cte UNION ALL SELECT orig_cte."KEY" AS "KEY_u", 1 AS class, orig_cte."LogProba_1" AS "LogProba", orig_cte."Proba_1" AS "Proba", orig_cte."Score_1" AS "Score"
FROM orig_cte UNION ALL SELECT orig_cte."KEY" AS "KEY_u", 2 AS class, orig_cte."LogProba_2" AS "LogProba", orig_cte."Proba_2" AS "Proba", orig_cte."Score_2" AS "Score"
FROM orig_cte) AS scu),
score_max AS
(SELECT orig_cte."KEY" AS "KEY", orig_cte."Score_0" AS "Score_0", orig_cte."Score_1" AS "Score_1", orig_cte."Score_2" AS "Score_2", orig_cte."Proba_0" AS "Proba_0", orig_cte."Proba_1" AS "Proba_1", orig_cte."Proba_2" AS "Proba_2", orig_cte."LogProba_0" AS "LogProba_0", orig_cte."LogProba_1" AS "LogProba_1", orig_cte."LogProba_2" AS "LogProba_2", orig_cte."Decision" AS "Decision", orig_cte."DecisionProba" AS "DecisionProba", max_select."KEY_m" AS "KEY_m", max_select."max_Proba" AS "max_Proba"
FROM orig_cte LEFT OUTER JOIN (SELECT score_class_union."KEY_u" AS "KEY_m", max(score_class_union."Proba") AS "max_Proba"
FROM score_class_union GROUP BY score_class_union."KEY_u") AS max_select ON orig_cte."KEY" = max_select."KEY_m"),
union_with_max AS
(SELECT score_class_union."KEY_u" AS "KEY_u", score_class_union.class AS class, score_class_union."LogProba" AS "LogProba", score_class_union."Proba" AS "Proba", score_class_union."Score" AS "Score", score_max."KEY" AS "KEY", score_max."Score_0" AS "Score_0", score_max."Score_1" AS "Score_1", score_max."Score_2" AS "Score_2", score_max."Proba_0" AS "Proba_0", score_max."Proba_1" AS "Proba_1", score_max."Proba_2" AS "Proba_2", score_max."LogProba_0" AS "LogProba_0", score_max."LogProba_1" AS "LogProba_1", score_max."LogProba_2" AS "LogProba_2", score_max."Decision" AS "Decision", score_max."DecisionProba" AS "DecisionProba", score_max."KEY_m" AS "KEY_m", score_max."max_Proba" AS "max_Proba"
FROM score_class_union LEFT OUTER JOIN score_max ON score_class_union."KEY_u" = score_max."KEY"),
arg_max_cte AS
(SELECT score_max."KEY" AS "KEY", score_max."Score_0" AS "Score_0", score_max."Score_1" AS "Score_1", score_max."Score_2" AS "Score_2", score_max."Proba_0" AS "Proba_0", score_max."Proba_1" AS "Proba_1", score_max."Proba_2" AS "Proba_2", score_max."LogProba_0" AS "LogProba_0", score_max."LogProba_1" AS "LogProba_1", score_max."LogProba_2" AS "LogProba_2", score_max."Decision" AS "Decision", score_max."DecisionProba" AS "DecisionProba", score_max."KEY_m" AS "KEY_m", score_max."max_Proba" AS "max_Proba", "arg_max_t_Proba"."KEY_Proba" AS "KEY_Proba", "arg_max_t_Proba"."arg_max_Proba" AS "arg_max_Proba"
FROM score_max LEFT OUTER JOIN (SELECT union_with_max."KEY" AS "KEY_Proba", max(union_with_max.class) AS "arg_max_Proba"
FROM union_with_max
WHERE union_with_max."max_Proba" <= union_with_max."Proba" GROUP BY union_with_max."KEY") AS "arg_max_t_Proba" ON score_max."KEY" = "arg_max_t_Proba"."KEY_Proba")
 SELECT arg_max_cte."KEY" AS "KEY", arg_max_cte."Score_0" AS "Score_0", arg_max_cte."Score_1" AS "Score_1", arg_max_cte."Score_2" AS "Score_2", arg_max_cte."Proba_0" AS "Proba_0", arg_max_cte."Proba_1" AS "Proba_1", arg_max_cte."Proba_2" AS "Proba_2", CASE WHEN (arg_max_cte."Proba_0" IS NULL OR arg_max_cte."Proba_0" > 0.0) THEN ln(arg_max_cte."Proba_0") ELSE -1.79769313486231e+308 END AS "LogProba_0", CASE WHEN (arg_max_cte."Proba_1" IS NULL OR arg_max_cte."Proba_1" > 0.0) THEN ln(arg_max_cte."Proba_1") ELSE -1.79769313486231e+308 END AS "LogProba_1", CASE WHEN (arg_max_cte."Proba_2" IS NULL OR arg_max_cte."Proba_2" > 0.0) THEN ln(arg_max_cte."Proba_2") ELSE -1.79769313486231e+308 END AS "LogProba_2", arg_max_cte."arg_max_Proba" AS "Decision", arg_max_cte."max_Proba" AS "DecisionProba"
FROM arg_max_cte

# Execute the SQL Code

In [10]:
# save the dataset in a database table


import sqlalchemy as sa

#engine = sa.create_engine('sqlite://' , echo=False)
engine = sa.create_engine("postgresql://db:db@localhost/db?port=5432", echo=False)
conn = engine.connect()

lTable = pd.DataFrame(iris.data);
lTable.columns = ['Feature_0', 'Feature_1', 'Feature_2', 'Feature_3']
lTable['TGT'] = iris.target
lTable['KEY'] = range(iris.data.shape[0])
lTable.to_sql("INPUT_DATA" , conn,   if_exists='replace', index=False)

/home/antoine/.local/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [11]:
sql_output = pd.read_sql(lSQL , conn);
sql_output = sql_output.sort_values(by='KEY').reset_index(drop=True)
conn.close()

In [12]:
sql_output.sample(12, random_state=1960)

,KEY,Score_0,Score_1,Score_2,Proba_0,Proba_1,Proba_2,LogProba_0,LogProba_1,LogProba_2,Decision,DecisionProba
114,114,None,None,None,0.335153,0.035072,0.629774,-1.093168,-3.350341,-0.462394,2,0.629774
74,74,None,None,None,0.478754,0.032302,0.488944,-0.736569,-3.432626,-0.715507,2,0.488944
9,9,None,None,None,0.548498,0.050943,0.400560,-0.600573,-2.977053,-0.914892,0,0.548498
88,88,None,None,None,0.404438,0.046393,0.549169,-0.905257,-3.070605,-0.599349,2,0.549169
25,25,None,None,None,0.541715,0.049148,0.409138,-0.613016,-3.012926,-0.893704,0,0.541715
5,5,None,None,None,0.545648,0.035097,0.419255,-0.605781,-3.349647,-0.869276,0,0.545648
48,48,None,None,None,0.562328,0.038155,0.399517,-0.575670,-3.266102,-0.917499,0,0.562328
117,117,None,None,None,0.367966,0.020700,0.611334,-0.999765,-3.877599,-0.492112,2,0.611334
83,83,None,None,None,0.412955,0.042532,0.544513,-0.884417,-3.157492,-0.607863,2,0.544513
105,105,None,None,None,0.441827,0.022182,0.535991,-0.816838,-3.808478,-0.623637,2,0.535991
27,27,None,None,None,0.557235,0.040997,0.401767,-0.584768,-3.194245,-0.911883,0,0.557235
64,64,None,None,None,0.430517,0.041654,0.527828,-0.842767,-3.178352,-0.638984,2,0.527828

# Keras Prediction

In [13]:
keras_output = pd.DataFrame()
keras_output_key = pd.DataFrame(list(range(iris.data.shape[0])), columns=['KEY']);
keras_output_score = pd.DataFrame(columns=['Score_0', 'Score_1', 'Score_2']);
keras_output_proba = pd.DataFrame(clf.predict_proba(iris.data), columns=['Proba_0', 'Proba_1', 'Proba_2'])
keras_output = pd.concat([keras_output_key, keras_output_score, keras_output_proba] , axis=1)
for class_label in [0, 1, 2]:
    keras_output['LogProba_' + str(class_label)] = np.log(keras_output_proba['Proba_' + str(class_label)])
keras_output['Decision'] = clf.predict(iris.data)
keras_output.sample(12, random_state=1960)

,KEY,Score_0,Score_1,Score_2,Proba_0,Proba_1,Proba_2,LogProba_0,LogProba_1,LogProba_2,Decision
114,114,NaN,NaN,NaN,0.335153,0.035072,0.629774,-1.093168,-3.350341,-0.462394,2
74,74,NaN,NaN,NaN,0.478754,0.032302,0.488944,-0.736569,-3.432626,-0.715507,2
9,9,NaN,NaN,NaN,0.548498,0.050943,0.400560,-0.600573,-2.977053,-0.914892,0
88,88,NaN,NaN,NaN,0.404438,0.046393,0.549169,-0.905257,-3.070605,-0.599349,2
25,25,NaN,NaN,NaN,0.541715,0.049148,0.409138,-0.613016,-3.012926,-0.893704,0
5,5,NaN,NaN,NaN,0.545648,0.035097,0.419255,-0.605781,-3.349647,-0.869276,0
48,48,NaN,NaN,NaN,0.562328,0.038155,0.399517,-0.575670,-3.266102,-0.917499,0
117,117,NaN,NaN,NaN,0.367966,0.020700,0.611334,-0.999765,-3.877599,-0.492112,2
83,83,NaN,NaN,NaN,0.412955,0.042532,0.544513,-0.884417,-3.157492,-0.607863,2
105,105,NaN,NaN,NaN,0.441827,0.022182,0.535991,-0.816838,-3.808478,-0.623637,2
27,27,NaN,NaN,NaN,0.557235,0.040997,0.401767,-0.584768,-3.194245,-0.911883,0
64,64,NaN,NaN,NaN,0.430517,0.041654,0.527828,-0.842767,-3.178352,-0.638984,2

# Comparing the SQL and Keras Predictions

In [14]:
sql_keras_join = keras_output.join(sql_output , how='left', on='KEY', lsuffix='_keras', rsuffix='_sql')

In [15]:
sql_keras_join.head(12)

,KEY_keras,Score_0_keras,Score_1_keras,Score_2_keras,Proba_0_keras,Proba_1_keras,Proba_2_keras,LogProba_0_keras,LogProba_1_keras,LogProba_2_keras,...,Score_1_sql,Score_2_sql,Proba_0_sql,Proba_1_sql,Proba_2_sql,LogProba_0_sql,LogProba_1_sql,LogProba_2_sql,Decision_sql,DecisionProba
0,0,NaN,NaN,NaN,0.557450,0.041788,0.400762,-0.584382,-3.175147,-0.914388,...,None,None,0.557450,0.041788,0.400762,-0.584382,-3.175147,-0.914388,0,0.557450
1,1,NaN,NaN,NaN,0.546366,0.048863,0.404770,-0.604466,-3.018730,-0.904435,...,None,None,0.546366,0.048863,0.404770,-0.604466,-3.018730,-0.904435,0,0.546366
2,2,NaN,NaN,NaN,0.543171,0.050627,0.406202,-0.610330,-2.983280,-0.900905,...,None,None,0.543171,0.050627,0.406202,-0.610330,-2.983280,-0.900905,0,0.543171
3,3,NaN,NaN,NaN,0.529060,0.056298,0.414642,-0.636653,-2.877101,-0.880339,...,None,None,0.529060,0.056298,0.414642,-0.636653,-2.877101,-0.880339,0,0.529060
4,4,NaN,NaN,NaN,0.553694,0.043079,0.403227,-0.591143,-3.144717,-0.908256,...,None,None,0.553694,0.043079,0.403227,-0.591143,-3.144717,-0.908256,0,0.553694
5,5,NaN,NaN,NaN,0.545648,0.035097,0.419255,-0.605781,-3.349647,-0.869276,...,None,None,0.545648,0.035097,0.419255,-0.605781,-3.349647,-0.869276,0,0.545648
6,6,NaN,NaN,NaN,0.529159,0.051147,0.419694,-0.636466,-2.973051,-0.868230,...,None,None,0.529159,0.051147,0.419694,-0.636466,-2.973051,-0.868230,0,0.529159
7,7,NaN,NaN,NaN,0.548251,0.045395,0.406354,-0.601022,-3.092352,-0.900530,...,None,None,0.548251,0.045395,0.406354,-0.601022,-3.092352,-0.900530,0,0.548251
8,8,NaN,NaN,NaN,0.523391,0.061531,0.415078,-0.647427,-2.788207,-0.879289,...,None,None,0.523391,0.061531,0.415078,-0.647427,-2.788207,-0.879289,0,0.523391
9,9,NaN,NaN,NaN,0.548498,0.050943,0.400560,-0.600573,-2.977053,-0.914892,...,None,None,0.548498,0.050943,0.400560,-0.600573,-2.977053,-0.914892,0,0.548498
10,10,NaN,NaN,NaN,0.566453,0.036495,0.397051,-0.568360,-3.310573,-0.923690,...,None,None,0.566453,0.036495,0.397051,-0.568360,-3.310573,-0.923690,0,0.566453
11,11,NaN,NaN,NaN,0.535053,0.050788,0.414159,-0.625389,-2.980093,-0.881506,...,None,None,0.535053,0.050788,0.414159,-0.625389,-2.980093,-0.881506,0,0.535053

In [16]:
condition = (sql_keras_join.Decision_sql != sql_keras_join.Decision_keras)
sql_keras_join[condition]

Empty DataFrame
Columns: [KEY_keras, Score_0_keras, Score_1_keras, Score_2_keras, Proba_0_keras, Proba_1_keras, Proba_2_keras, LogProba_0_keras, LogProba_1_keras, LogProba_2_keras, Decision_keras, KEY_sql, Score_0_sql, Score_1_sql, Score_2_sql, Proba_0_sql, Proba_1_sql, Proba_2_sql, LogProba_0_sql, LogProba_1_sql, LogProba_2_sql, Decision_sql, DecisionProba]
Index: []

[0 rows x 23 columns]